.sideFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  width: 100%;
  padding: 0 16px;
}

.iconMenu {
  color: #fff;
  background: none;
  border: none;
}

.iconMenu svg {
  fill: #fff;
}
