.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #111;
  color: #fff;
  position: relative;
}

.mainMenu a {
  color: #e4e4e4;
  width: 100%;
  text-decoration: none;
  font-size: 0.8em;
}

.mainMenu a:hover {
  color: #fff;
}

.mainMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mainMenu ul li {
  line-height: 2em;
  display: flex;
  justify-content: start;
  font-weight: bold;
}

.mainMenu .logo {
  margin: 25px;
}

.mainMenu .logo a svg {
  width: 130px;
}

.mainMenu .playlists {
  width: 100%;
  height: 40vh;
  border: 0.5px solid;
  overflow-y: scroll;
  position: absolute;
  bottom: 40px;
  padding: 16px 32px;
}

.mainMenu > button {
  width: 100%;
  line-height: 30px;
  position: absolute;
  bottom: 0;
}

.mainMenu .menu-search-library li {
  padding: 8px 0 0 8px;
}

.mainMenu .playlist-organize li {
  padding-top: 16px;
}

.mainMenu .playlist-organize {
  padding: 32px 0 0 8px;
  font-size: 0.8em;
}

.mainMenu .playlist-organize svg {
  background-color: #f00;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
}

.mainMenu .icons svg {
  fill: #f4f4f4;
}

.mainMenu .playlist-organize button {
  cursor: pointer;
}
