.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #111;
  color: #fff;
  position: relative;
}

.mainMenu a {
  color: #e4e4e4;
  width: 100%;
  text-decoration: none;
  font-size: 0.8em;
}

.mainMenu a:hover {
  color: #fff;
}

.mainMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mainMenu ul li {
  line-height: 2em;
  display: flex;
  justify-content: start;
  font-weight: bold;
  margin-left: 25px;
}

.mainMenu ul li a {
  display: inherit;
  align-items: center;
  gap: 8px;
}

.mainMenu ul li:nth-child(4) {
  margin-top: 16px;
}

.mainMenu .logo {
  margin: 25px;
}

.mainMenu .logo a svg {
  width: 130px;
}

.mainMenu ul li:nth-child(4) a svg,
.mainMenu ul li:nth-child(5) a svg,
.mainMenu ul li:nth-child(6) a svg {
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 2px;
}

.mainMenu ul li:nth-child(4) a svg {
  background-color: #e4e4e4;
  fill: #111;
}

.mainMenu ul li:nth-child(5) a svg {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.mainMenu ul li:nth-child(6) a svg {
  background: #006450;
  fill: #1ed760;
}

.mainMenu .playlists {
  width: calc(100% - 25px);
  height: 40vh;
  border-top: 0.5px solid #3e3e3e;
  overflow-y: scroll;
  position: absolute;
  bottom: 40px;
  padding: 16px 32px;
  margin-left: 25px;
}

.mainMenu > button {
  width: 100%;
  line-height: 30px;
  position: absolute;
  bottom: 0;
}

.mainMenu .menu-search-library li {
  padding: 8px 0 0 8px;
}

.mainMenu .playlist-organize li {
  padding-top: 16px;
}

.mainMenu .playlist-organize {
  padding: 32px 0 0 8px;
  font-size: 0.8em;
}

.mainMenu .playlist-organize svg {
  background-color: #f00;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
}

.mainMenu .icons svg {
  fill: #f4f4f4;
}

.mainMenu .playlist-organize button {
  cursor: pointer;
}
