:root {
  --font-size-14: 14px;
}

.player {
  display: flex;
  background-color: #181818;
  border: 1px solid #282828;
  height: 100px;
  color: #f8f8f8;
  font-size: var(--font-size-14);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.player img {
  width: 50px;
}
.player div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player button {
  background: none;
  border: none;
}

.player svg {
  fill: #a7a7a7;
}

.player svg:hover {
  fill: #fff;
}

.player .album {
  width: 18%;
}

.player .controls {
  width: 70%;
  flex-direction: column;
}

.control-midia {
  margin-bottom: 15px;
}

.control-midia .control__play button svg {
  fill: #000;
}

.control-midia .control__play button {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.album,
.control-midia,
.progress-midia,
.options-control {
  gap: 20px;
}

.options-control .options-control__volume {
  gap: 8px;
}

.player .album .album-info {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0;
  padding: 0;
}
