.progress-midia div.progress-bar {
  width: 150px;
  height: 4px;
  background-color: #ffffff4d;
  border-radius: 10px;
  justify-content: flex-start;
}

.progress-bar div.progress-bar__bar {
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: end;
}

.progress-bar div.progress-bar__bar .circle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 16px;
  opacity: 0;
}

.progress-bar:hover div.progress-bar__bar {
  background-color: #1db954;
}

.progress-bar:hover div.progress-bar__bar .circle {
  opacity: 1;
}
