.App {
  header {
    height: 60px;
    margin: 0px 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      padding: 10px 5px;
      border-color: 1px solid #e3e4e5;
      background-color: #fff;
      img {
        height: 60px;
      }
    }
    .menu {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          list-style: none;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 18px;
          a {
            color: #000;
            text-decoration: none;
          }
          & + li {
            margin-left: 16px;
          }
        }
      }
    }
  }

  footer {
    margin-top: 50px;
    background-color: #191f22;
    color: #fff;
    padding: 4.5rem 7%;
    .copyright {
      line-height: 1.5em;
    }
  }
}
