.App {
  header {
    height: 60px;
    margin: 0px 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      padding: 10px 5px;
      border-color: 1px solid #e3e4e5;
      background-color: #fff;
      img {
        height: 60px;
      }
    }
    .menu {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          list-style: none;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 18px;
          a {
            color: #000;
            text-decoration: none;
          }
          & + li {
            margin-left: 16px;
          }
        }
      }
    }
  }

  section#hero {
    height: 500px;
    padding: 50px 40px;
    color: #000;
    background-image: url("./assets/images/porsche-normal.webp");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    .hero-container {
      color: #000;
      transition: all ease 1s;
      &:hover {
        color: #df501c;
      }
      .hero-title,
      .hero-subtitle {
        color: #fff;
        font-weight: 600;
        margin: 0;
      }
      .hero-title {
        line-height: 38px;
        font-size: 3em;
        &::before {
          width: 1em;
          color: #d5001c;
          font-size: 48px;
          content: ">";
        }
      }
      .hero-subtitle {
        font-size: 1.5em;
        line-height: 1.5em;
        margin-left: 35px;
      }
    }
  }

  footer {
    margin-top: 50px;
    background-color: #191f22;
    color: #fff;
    padding: 4.5rem 7%;
    .copyright {
      line-height: 1.5em;
    }
  }
}

@media screen and (min-width: 1200px) {
  .App {
    section#hero {
      .hero-title,
      .hero-subtitle {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
